body {
    height: 100vh;
}

.col-sm-9 {
    /*background-color: #191919;*/
    height: 100vh;
}

.col-sm-3, #calendar-card {
    background-color: #EAFDF8;
}

#main-body {
    background-color: rgba(0,0,0,.03);
}

#calendar-table {
    background-color: ghostwhite;
}

#top-bar {
    background-color: #EAFDF8;
    margin-top: 1vh;
}

#user-bar {
    border-bottom: 3px solid black;
}

.friends {
    height: 10vh;
    border-bottom: 3px solid gray;
}

#calendar-body {
    height: 100%;
}

#calendar-body tr {
    height: 12vh;
    border-bottom-style: solid;
}

#calendar-body td {
    border-left-style: solid;
    border-right-style: solid;
    border-width: thin;
    width: 14%;
}

#month-and-year {
    text-align: center;
}

#user-info {
    height: 98vh;
}

#user-control {
    min-height: 5vh;
}

#friend-group {
    overflow: auto;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    max-width: 500px;
}

#login-form {
    width: 50vw;
    margin: 0 auto;
}

.center-wrapper {
    text-align: center;
}

#user-info {
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.btn-info {
    background: #57737A;
    border-color: #57737A;
}

.bg-info {
    background: #B09398;
}

#hideIt{
    display: none;
}

.svg-hover {
    fill: black;
    -webkit-transition: fill 0.2s;
}

.svg-hover:hover {
    fill: red;
    -webkit-transition: fill 0.2s;
    cursor: pointer;
}

.input-width {
    width: 100%;
    max-width: 350px;
}

#message-box {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 10;
    bottom: -100px;
    left: 0;
    right: 0;
    -webkit-transition: bottom 0.4s;
}

#message {
    padding: 10px;
    background-color: green;
    border-radius: 5px;
}

#date-control .btn-outline-primary {
    margin: auto;
    padding: 10px;
    background-color: ghostwhite;
}

#date-control {
    padding-top: 5px;
    padding-bottom: 5px;
}
