body {
    font-family: Calibri, serif;
    height: 100vh;
}

.col-sm-10 {
    background-color: gray;
    height: 100vh;
}

.col-sm-2 {
    background-color: white;
}

#top-bar {
    height: 10vh;
    border-bottom: 3px solid black;
}

#user-bar {
    height: 10vh;
    border-bottom: 3px solid black;
}

.friends {
    height: 10vh;
    border-bottom: 3px solid gray;
}

#calendar-body {
    height: 90vh;
}

#calendar-body tr {
    height: 10vh;
    border-bottom-style: solid;
}

#calendar-body td {
    border-left-style: solid;
    border-right-style: solid;
    border-width: thin;
    width: 14%;
}

#month-and-year {
    text-align: center;
}