/code/Frontend/node_modules/
/code/Backend/venv/
/code/Backend/.venv/
/code/Backend/__pycache__/
/code/Backend/.idea/
/code/Frontend/.idea/
/code/Backend/idea/
/code/Frontend/idea/
/code/Frontend/.DS_Store
/code/.idea/
/.idea/
/code/idea/
/idea/
.DS_Store