pydantic>=1.0.0,<2.0.0
async-exit-stack==1.0.1
async-generator==1.10
asyncpg==0.21.0
bcrypt==3.2.0
databases==0.4.1
fastapi==0.62.0
psycopg2==2.8.6
python-jose==3.2.0
PyYAML==5.3.1
requests==2.25.0
setuptools==40.8.0
sqlalchemy>=0.8
uvicorn==0.11.8
